// Font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

// Colors
$white: #fff;
$black: #000;
$brown: #C47344;
$pink: #F9A38F;
$text: #322F2E;
$background: #FFF8EE;

// Media
$laptop: 990px;
$tablet: 699px;
$phone: 390px;