// .copyright {
// }
.copyright__logo {
  margin-bottom: 19px;
}
.copyright__text {
  color: #313131;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 30px;
}
.copyright__provider {
  color: #313131;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.copyright__provider-image {
  margin-bottom: 30px;
}
.copyright__partnership {
  color: #313131;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.copyright__partnership-image {
  margin-bottom: 20px;
}
.copyright__reg-info {
  color: #d3d3d3;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}
// .copyright__people-image {
// }
